@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
    margin: 0;
    padding: 0;
   } */
body{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}
h1,h2,h3 {
    font-weight: 700;
}
.h1 {
    font-size: 1.45rem;
}
.h2 {
    font-size: 1.3rem; 
}
.list-unstyled {
    list-style: none;
}
.footer-social {
    padding: 0;
    background-color: #45a1ff; 
}
.icon-contacts{
    display:inline;
    font-size: 16px;
    margin: 2px;
    margin-bottom: 10px;
    position:relative;
}
h2 {
    text-transform: uppercase;
}
.bg-dark{
    background-color: black;
    color: white;
}
ul.categories li {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
}
ul.categories li:hover{
    background-color: lightgray;

}

